<div style="display: flex; flex-direction: row">
  <input type="text" [(ngModel)]="kvery">
  <a *ngIf="kvery===''">
  <a style="padding: 5px;" routerLink="home">Home</a>
  <a style="padding: 5px;" routerLink="stranadvje">Contact</a>
  <a style="padding: 5px;" routerLink="aboutus">About us</a>
  </a>

  <a style="padding: 5px;" *ngIf="kvery.includes('home')" routerLink="home">Home</a>
  <a style="padding: 5px;" *ngIf="kvery.includes('contact')" routerLink="stranadvje">Contact</a>
  <a style="padding: 5px;" *ngIf="kvery.includes('about us')" routerLink="aboutus">About us</a>
</div>


<router-outlet></router-outlet>
