<div style="display: flex; flex-direction: row">
  <input type="text" [(ngModel)]="kvery" placeholder="serch">

  <a style="padding: 5px;" *ngIf="kvery.includes('home')||kvery===''" routerLink="home">Home</a>
  <a style="padding: 5px;" *ngIf="kvery.includes('contact')||kvery===''" routerLink="stranadvje">Contact</a>
  <a style="padding: 5px;" *ngIf="kvery.includes('about us')||kvery===''" routerLink="aboutus">About us</a>
  <a style="padding: 5px;" *ngIf="kvery.includes('blog')||kvery===''" routerLink="blog">Blog</a>
  <a style="padding: 5px;" *ngIf="kvery.includes('excrept')||kvery===''" routerLink="excrept">Excrept</a>
</div>


<router-outlet></router-outlet>
