<h1>this broken</h1>
<div>
  uinel
  <br> uinel.errors
  <div *ngIf="UinEl.errors!=null">--{{UinEl.errors.toString()}}--</div>
  <br> uinel.errors.req
  <div>{{UinEl.errors}}</div>
  <br> uinel.errors.min
  <div>{{UinEl.errors | json}}</div>
  <br> uinel.touched
  <div>{{UinEl.touched.toString()}}</div>
</div>

<h3>Register for free identity theft</h3>
<form #form="ngForm" (ngSubmit)="addUnameToUnames()">
  <label for="uname" style="background-color: deeppink" *ngIf="UinEl.hasError('required') && UinEl.touched"> Ňeco sem
    dej.</label>
  <label for="uname" style="background-color: deeppink" *ngIf="UinEl.hasError('minlength') && UinEl.touched"> you need to be
    at
    least {{UinEl.getError('minlength').requiredLength}} chars tall
  </label>
  <label for="uname" *ngIf="UinEl.hasError('maxlength') && UinEl.touched" style="background-color: deeppink"> you
    need to be at
    most {{UinEl.getError('maxlength').requiredLength}} chars tall
  </label>
  <br>
  <input type="text" [(ngModel)]="username" placeholder="username" required minlength="3" maxlength="32"
         id="uname" name="uname" #UinEl="ngModel"> <!-- User Input Element -->
  <input type="number">

  <button type="submit" *ngIf="form.valid">YEET!</button>
</form>
<p>
  form vals: {{form.value | json}}
</p>
<p>
  status: {{form.status}}
</p>
<h3>Registered bois</h3>
<div *ngFor="let u of usernames">
  <div *ngFor="let ">
  <div>{{u}}</div></div>
</div>
